body {
  box-sizing: border-box;
  margin: 0px;
  background: #F1F1F1;
}
a {
  text-decoration: none;
  color: #e2e2e2;
  letter-spacing: 1px;
}
a:hover {
  padding-bottom: 4px;
  border-bottom: 4px solid #BDD436;
}
/*Header section*/
header {
  width: 100vw;
  position: fixed;
  height: 100px;
}
header:hover {
  background: white;
  height: 80px;
}
.navBar {
  display: flex;
  height: 100%;
  justify-content: space-between;
}
.logo {
  background-image:url(http://wideopentech.com/themes/wot-2013-gm/_/img/wot-logo-whitex2.svg);
  background-repeat: no-repeat;
  background-size: auto;
  height: 50%;
  display: flex;
  width: 155px;
  align-self: center;
  margin-left: 25px;
  margin-top: 15px;
}
.navOptions {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 615px;
  height: 100%;
  margin-right: 6%;
  font-family: lato;
/*Top picture section*/
}
.top {
    width: 100%;
    height: 520px;
    background: url(http://cdn01.wideopentech.com/themes/wot-2013-gm/_/img/wot-masthead-dark.jpg) center top;
    top: 0;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainTitle p {
  font-size: 22px;
  font-family: oswald;
  align-self: flex-start;
  justify-content: flex-start;
  margin: 0px;
  color: white;
  letter-spacing: 1px;
  transform: translate(-5px, 15px);
}
.mainTitle h1 {
  font-size: 150px;
  line-height: 150px;
  font-family: oswald;
  margin: 0px;
  color: #fff;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
  width: 100%;
  display: block;
  margin: 0 0 35px 0;
}
.bar{
  height: 9px;
  width: 15%;
  background: white;
  display: flex;
  align-self: center;
}
.titleLower {
  display: flex;
  text-align: center;
  justify-content: space-between;
  font-family: oswald;
  width: 100%;
  font-size: 18px;
  color: white;
  letter-spacing: 1px;
  align-items: center;
}
.learnMore, .contactUs{
  width: 177px;
  height: 48px;
  border: none;
  border-radius: 25px;
  background-color: #BCD436;
  text-align: center;
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: 700;
  letter-spacing: .51px;
  line-height: 18px;
  color:white;
  transform: translate(0, 40px);
  }
/*How it works section*/
.penScrew {
  background-image: url(img/sprite_home.png);
  background-position: -22px -113px;
  width: 75px;
  height: 75px;
  margin-top: 35px;
}
.howItWorks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.howItWorks p{
  font-family: 'Open Sans';
  color: #6a787c;
  font-weight: 350;
  font-size: 25px;
  line-height: 36px;
  text-align: center;
  margin: 0px 10px;
  margin-top: 30px;
}
.howItWorks span {
  font-family: oswald;
  color: gray;
  font-size: 42px;
  font-weight:300;
  margin: 17px 0px 40px 0px;
}
/*threePic*/
.threePic{
  display: flex;
  background: white;
  height: 548px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.services, .company, .otherWork {
  background: white;
  height: 500px;
  width: 33%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  line-height: 28px;
  font-size: 18px;
}
.line {
  width: 1px;
  background: lightgrey;
  height: 450px;
  display: flex;
  align-self: center;
}
.bulb, .arrow, .power {
  background-image: url(img/sprite_home.png);
  width: 131px;
  height: 160px;
  background-position: -308px , 0px;
}
.lilArrow {
  background-image: url(img/sprite_home.png);
  background-position: -46px -292px;
  height: 30px;
  width: 27px;
}
.arrow {
  background-position: -210px, 0px;
  width: 100px;
}
.power {
  background-position: -97px, 0px;
  width: 125px;
}
.describe {
  font-family: open sans;
  letter-spacing: .3px;
  color: #97a2a7;
  text-align: center;
  font-size: 18px;
}
.services a, .company a, .otherWork a {
  color: #bcd436;
  font-family: open sans;
  letter-spacing: .3px;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
}
/*How can we help*/
.howWeHelp {
  height: 687px;
}
.howWeHelp p {
  font-family: oswald;
  font-size: 42px;
  font-weight: 300;
  margin-top: 36px;
  color: rgb(99, 99, 99);
  text-align: center;
  margin-bottom: 0px;
}
.howWeHelp .helpme {
  font-family: helvetica;
  font-weight: 500;
  line-height: 1.1;
  color: #40666d;
  font-size: 22px;
  margin: 5px 0 50px;
  text-align: center;
}
.boxes {
  font-size: 24px;
  line-height: 1.428571429;
  font-family: open sans;
  font-weight: 500;
  color: #40666d;
  display: flex;
  margin: 5px;
  justify-content: center;
}
.box1 *, .box2 *{
  margin: 10px;
  padding: 10px;
  text-align: center;
  background: white;

}
.box2 *{
  padding: 18px 5px 18px 5px;
  margin: 10px 0px 10px 0px;

}
.box1, .box2  {
display: flex;
flex-direction: column;
height: 460px;
justify-content: space-between;
}
.smallTxt {
  font-size: 16px;
  color: #858585;
  display: block;
  margin-top: 0px;
}
.contactUs {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
/*Companies we work with*/
.companiesWeWork {
  height: 567px;
  background: white;
}
.companiesTitle {
  font-size: 42px;
    font-weight: 300;
    color: #6a787c;
     font-family: 'Oswald';
     text-align: center;
     padding: 25px;
}
.companyPics {
  display: flex;
  flex-wrap: wrap;
  height: 597px;
}
.pics {
  height: 100px;
  width: 100px;
}
